
<%= simple_form_for @requirement, remote: true do |form| %>
  <% if requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(requirement.errors.count, "error") %> prohibited this requirement from being saved:</h2>

      <ul>
      <% requirement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @title.each do |item| %>
    <div class="form-inputs">
      <%= form.input :title, value: "#{item}" %>
      <%= form.input :date_range, input_html: { class: "form-control input-sm date-range-picker" } %>
      <%= form.input_field :start, as: :hidden, value: Date.today, class: 'form-control input-sm start_hidden' %>
      <%= form.input_field :end, as: :hidden, value: Date.today, class: 'form-control input-sm end_hidden' %>
    </div>

  <% end %>
  <%= form.button :submit %>
<% end %>
