<p id="notice"><%= notice %></p>

<h1>Requirements</h1>

<div class='row'>
  <div class='col-md-8'>
    <% @requirements.each do |requirement| %>
      <div>
        <%= requirement.title %>
        <%= requirement.start %>
        <%= requirement.end %>
      </div>
    <% end %>
  </div>
</div>
  

<%= link_to 'New Requirement', new_requirement_path %>
